* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #000000;
    min-height: 100vh;
}

header {
    background: #000;
    position: unset;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px;
}

header a.logo {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 20px;
}

nav ul li a.active,
nav ul li a:hover {
    background: #ffffff;
    color: #2b1055;
}

main {
    padding: 40px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px #ccc;
}

.intro h1,
.intro h2 {
    color: rgb(164, 36, 119);
    font-size: 30px;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

.intro ul {
    padding-left: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
}

.intro li {
    margin-bottom: 1em;
}

.intro p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
    margin-bottom: 1em;
}

.subtitle {
    color: rgb(164, 36, 119);
    font-size: 20px;
    font-weight: 550;
}

.typing {
    padding: 20px;
    color: #ffffff;
    margin: 20px;
    display: flex;
    align-items: center;
}

.typing h1 {
    font-size: 50px;
    font-weight: 600;
}

.auto-fill {
    color: #F23DFD;
}

canvas {
    display: flex;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

img {
    display: block;
    max-width: 97%;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

.SectionHeader {
    padding: 20px;
    color: #ffffff;
    margin: 20px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}



.slider-container {
    position: relative;
    margin: 20px 0;
    padding: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 40px);
    height: 8px;
    border-radius: 4px;
    background: #D1C4E9;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #7B1FA2;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #7B1FA2;
    cursor: pointer;
}


#layersValue,
#dataSizeValue {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #7B1FA2;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #7B1FA2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #6A1B9A;
}

#outputText {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #ddd;
    color: #333;
}

.watermarks {
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    margin-right: 60px;
}

.benefits-drawbacks-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.benefits,
.drawbacks {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    background: #333;
    color: #fff;
    text-align-last: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 1em;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}